<div class="row">
    <h2>Mis Conocimientos</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="45"
        [radius]="100"
        [space]="-10"
        [showUnits]="false"
        [imageSrc]="'../assets/images/logos/css.png'"
        [showImage]="true"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0affef'"
        [innerStrokeColor]="'#A9A9A9'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="49"
        [radius]="100"
        [space]="-10"
        [showUnits]="false"
        [imageSrc]="'../assets/images/logos/html5.png'"
        [showImage]="true"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0affef'"
        [innerStrokeColor]="'#A9A9A9'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="20"
        [radius]="100"
        [space]="-10"
        [showUnits]="false"
        [imageSrc]="'../assets/images/logos/js.png'"
        [showImage]="true"
        [imageWidth]="150"
        [imageHeight]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0affef'"
        [innerStrokeColor]="'#A9A9A9'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="15"
        [radius]="100"
        [space]="-10"
        [showUnits]="false"
        [imageSrc]="'../assets/images/logos/angular.png'"
        [showImage]="true"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0affef'"
        [innerStrokeColor]="'#A9A9A9'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="0"
        [radius]="100"
        [space]="-10"
        [showUnits]="false"
        [imageSrc]="'../assets/images/logos/Csharp.png'"
        [showImage]="true"
        [imageWidth]="120"
        [imageHeight]="120"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0affef'"
        [innerStrokeColor]="'#A9A9A9'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="0"
        [radius]="100"
        [space]="-10"
        [showUnits]="false"
        [imageSrc]="'../assets/images/logos/phyton.png'"
        [showImage]="true"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0affef'"
        [innerStrokeColor]="'#A9A9A9'"
        [animation]="true"
        [animationDuration]="500"
      ></circle-progress>
    </div>
</div>