.row{
    padding: 20px;
    border-style: solid;
    border-color: #3b3b3b;
    background-color: #3b3b3b;
}
div{
    background: #272727;
    color: #ffffff;
}
h5, h6{
    display: inline;
}

.item {
    margin-bottom: 15px;
  }
  
.item .title {
    color: #778492;
  }
  
.item .level {
    color: #999;
  }
  
.item:last-child {
    margin-bottom: 0;
  }
  
.item .svg-inline--fa {
    color: #f1be14;
  }
  