<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/images/logos/logo.png" id="logoAP">
        </div>
        <div class="redes">
            <div class="icons">
                <i class="bi bi-facebook" id="facebook"></i>
                <i class="bi bi-instagram" id="instagram"></i>
                <i class="bi bi-linkedin" id="linkedin"></i>
                <i class="bi bi-github" id="github"></i>
                <button type="button" class="btn btn-outline-light" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>
